<p id="notice"><%= notice %></p>

<address>
  <strong><%= @restaurant.name %></strong>
  <br>
  <%= @restaurant.street %>
  <br>
  <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zipcode %>
</address>

<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Rating</th>
    <th></th>
    <th></th>
  </tr>

<% @dishes.each do |dish| %>
  <tr>
    <td><%= link_to dish.name, dish %></td>
    <td><%= dish.price %></td>
    <td><%= dish.rating %></td>
    <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
    <td><%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
